/* Notification.css */
.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #305f64;
  color: #fff;
  padding: 1px 5px; /* Slightly increased padding for a better rectangular shape */
  border-radius: 8px; /* Makes the corners less rounded */
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 3s ease-in-out;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
